* {
    margin: 0;
    padding: 0;
}

body {
    background-color:rgb(53, 74, 121);
    color: rgb(197, 197, 216);
}
.principal{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}